.blue {
    background-color: lightskyblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}
.xsmall{
   font-size: x-small; 
}
.small{
    font-size: small; 
 }
 .large{
    font-size: large; 
 }
 .xlarge{
    font-size: x-large; 
 }